*,
*::before,
*::after {
  box-sizing: border-box;
  font-family:cursive;
}
:root {
  /*dont forget variables for colors, make buttons animations, hamburger mobile menu */
}
a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
body {
  background-color: rgb(165, 180, 180);
}
.header {
  border-color: red;
  border-width: 0.5em;
  border-style: solid;
  text-align: center;
}
.nav-header {
  max-width: 100%;
  font-size: 2rem;
  border-color: red;
  border-width: 0.5em;
  border-style: solid;
}
.header h1 {
  font-size: 3rem;
  color: rgb(195, 140, 38);
  padding: 0em;
}
.footer {
  font-size: 1.5rem;
  border-color: rgb(98, 0, 255);
  border-width: 0.5em;
  border-style: solid;
  padding: 1em;
}
.container-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
  height: 75em;
  width: 100%;
  border-color: rgb(255, 208, 0);
  border-width: 0.5em;
  border-style: solid;
}

.container-information {
  grid-column: 1;
  grid-row: span 2;
  border-color: rgb(255, 0, 221);
  border-width: 0.5em;
  border-style: solid;
}
.container-buy {
  grid-column: 2;
  grid-row: 1;
  border-color: rgb(255, 0, 221);
  border-width: 0.5em;
  border-style: solid; 
}
.container-hodl {
  grid-column: 2;
  grid-row: 2;
  border-color: rgb(255, 0, 221);
  border-width: 0.5em;
  border-style: solid;
}

.div-information{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 25%);
  grid-gap: 1em; 
}
.bitcoin {
  grid-column: 1 / 7;
  grid-row: 1 / 3;
  width: 100%;
  max-height: 70%;
}
.bitcoin>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.ethereum {
  grid-column: 5 / 11;
  grid-row: 2;
  width: 100%;
  max-height: 100%;
}
.ethereum>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.defi {
  grid-column: 1 / 4;
  grid-row: 3;
  width: 100%;
  max-height: 100%;
}
.defi>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.quotes {
  grid-column: 1 / 11;
  grid-row: 4;
  font-size: 1rem;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.authorname {
  font-style: italic;
  font-family: cursive;
  color: gold;
}
.div-buy {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 25%);
  grid-gap: 1em;
}
.cashapp {
  grid-column: 2;
  grid-row: 2 / 4;
  width: 100%;
  max-height: 100%;
}
.cashapp>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.cryptocom {
  grid-column: 5 / 11;
  grid-row: 4 / 6;
  width: 100%;
  max-height: 100%;
}
.cryptocom>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.coinbase {
  grid-column: 1;
  grid-row: 3;
  width: 100%;
  max-height: 100%;
}
.coinbase>img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}
.kraken {
  grid-column:1;
  grid-row: 4;
  width: 100%;
  max-height: 100%;
}
.kraken>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.div-hodl {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 25%);
  grid-gap: 1em; 
}
.memehodl {
  grid-column: 3 / 6;
  grid-row: 2 / 4;
  width: 50%;
  max-height: 75%;
  
}
.memehodl>img {
  object-fit: cover;
  width: 50%;
  max-height: 100%;
}
.memedip {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  width: 100%;
  max-height: 100%;
}
.memedip>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.youtubevideo1 {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  width: 100%;
  max-height: 100%;
}
.youtubevideo1>iframe {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.youtubevideo2 {
  grid-column: 1 / 6;
  grid-row: 1 / 5;
  width: 100%;
  max-height: 100%;
}
.youtubevideo2>iframe {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}


